<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>frame01</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
 
 <!-- 필터 순서는 먼저 맵핑해놓은 순서대로 필터작업이됨 -->
  <filter>
  	<filter-name>filter1</filter-name>
  	<filter-class>com.bit.config.MyFilter1</filter-class>
  </filter>
  <filter>
  	<filter-name>filter2</filter-name>
  	<filter-class>com.bit.config.MyFilter2</filter-class>
  </filter>
  
   <filter-mapping>
  	<filter-name>filter1</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
   <filter-mapping>
  	<filter-name>filter2</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>